body {
    margin: 0;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    display: inline;
    width: 10px;
    height: 10px;
    background-color: aliceblue;
    border: rgb(53, 44, 44) solid 1px;
}

#boxgrid {
    border-width: 0px;
}