body {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#boxgrid {
    display: grid;
    grid-template: repeat(16, 40px) / repeat(16, 40px);
}

div div {
    display: inline;
    background-color: aliceblue;
    border: rgb(53, 44, 44) solid 1px;
}
