:root {
  --main-color: rgb(255, 249, 249);
  --secondary-color: rgb(239, 245, 243);
  --default-box-color: rgb(240, 248, 255);
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  position: relative;
  margin: 50px auto 20px 20%;
}

.page-header {
  position: relative;
  overflow: auto;
  width: 100%;
  background-color: var(--secondary-color);
}

p {
  margin: 1.2em auto;
}

.page-body {
  display: flex;
  width: 100%;
  background-color: var(--main-color);
}

.page-body-content {
  margin: 30px auto;
}

.page-footer {
  position: relative;
  width: 100%;
  background-color: var(--secondary-color);
}

#boxgrid div {
  background-color: var(--default-box-color);
}

#resolutionSlider {
  display: inline;
  -webkit-appearance: none;
  height: 25px;
  color: blue;
  background: #5c2f2f;
  outline: none;
  opacity: 0.7;
}

.footer-text {
  margin-left: 200px;
}

#credits {
  text-align: center;
}